# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs/

# environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
ehthumbs.db

# IDE / Editor specific files
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# jetbrains setting folder
.idea/

# Build / Cache
.cache/
.npm/
.yarn/
*.tsbuildinfo

# Test reports
coverage/
.nyc_output/

# Personal notes
notes/

# wrangler
.wrangler/