---
import App from "../components/App.jsx";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "@fontsource-variable/nunito";
---

<html lang="en">
  <head>
    <!-- HTML Meta Tags & Schema -->
    <title>Nujum | Passing Grade & Prediksi Kelulusan UTBK-SNBT 2025</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://nujum.charda.org" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Nujum",
        "url": "https://nujum.charda.org/"
      }
    </script>
    <meta
      name="description"
      content="Cek passing grade dan prediksi kelulusan UTBK-SNBT dari 145 PTN dalam satu tempat."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://nujum.charda.org" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Nujum" />
    <meta
      property="og:title"
      content="Nujum | Passing Grade & Prediksi Kelulusan UTBK-SNBT 2025"
    />
    <meta
      property="og:description"
      content="Cek passing grade dan prediksi kelulusan UTBK-SNBT dari 145 PTN dalam satu tempat."
    />
    <meta property="og:image" content="/og.jpg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="nujum.charda.org" />
    <meta property="twitter:url" content="https://nujum.charda.org" />
    <meta
      name="twitter:title"
      content="Nujum | Passing Grade & Prediksi Kelulusan UTBK-SNBT 2025"
    />
    <meta
      name="twitter:description"
      content="Cek passing grade dan prediksi kelulusan UTBK-SNBT dari 145 PTN dalam satu tempat."
    />
    <meta name="twitter:image" content="/og.jpg" />
  </head>

  <body class="bg-stone-100 min-h-screen">
    <Header />

    <main id="app" class="py-8">
      <App client:load />
    </main>

    <Footer />
  </body>
</html>
