---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "@fontsource-variable/nunito";
import "@fontsource-variable/nunito-sans";
---

<html lang="en">
  <head>
    <title>Tentang | Nujum</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://nujum.charda.org/tentang" />
    <meta
      name="description"
      content="Tentang Nujum dan jawaban pertanyaan yang sering muncul."
    />
  </head>

  <body class="bg-stone-100 min-h-screen">
    <Header />

    <main class="py-8">
      <div class="container mx-auto px-4">
        <h1
          class="text-3xl font-bold mb-6 text-center text-stone-700 scroll-mt-20"
        >
          Tentang Nujum
        </h1>
        <section
          id="tentang"
          class="bg-white p-6 rounded-lg shadow mb-10 max-w-4xl mx-auto"
        >
          <p class="text-stone-600 mb-4">
            Sebagai mahasiswa yang pernah berjuang melewati UTBK-SNBT pada tahun
            2023, aku benar-benar paham banget susahnya mencari informasi akurat
            tentang passing grade PTN yang kamu incar. Frustasi bener nggak sih?
          </p>
          <p class="text-stone-600 mb-4">
            Kalau kamu coba cek situs resmi dari SNPMB, yang ada cuma data daya
            tampung dan jumlah peminat. Padahal yang kita butuhkan adalah nilai
            aman untuk masuk jurusan impian, kan? Terus kalau googling yang muncul
            kebanyakan website gak jelas, banyak iklan, dan bikin pusing.
          </p>
          <p class="text-stone-600 mb-4">
            Disitulah aku harap Nujum akan membantu. Melalui aplikasi ini kamu
            bisa langsung cek passing grade universitas tujuanmu dengan mudah. Ada
            data lengkap dari 145 PTN di Indonesia yang diambil langsung dari data
            resmi SNPMB.
          </p>
          <p class="text-stone-600">
            Mau tahu passing grade untuk jurusan impianmu? Atau penasaran dengan
            tingkat keketatan/acceptance rate di kampus tertentu? Semua informasi
            itu bisa kamu temukan di sini.
          </p>
        </section>

        <h2
          id="faq"
          class="text-2xl font-bold mb-4 text-center text-stone-600 scroll-mt-20"
        >
          Mungkin Ditanyakan
        </h2>
        <section class="space-y-4 mb-8 max-w-2xl mx-auto">
          <details class="bg-white p-4 rounded-lg shadow group">
            <summary
              class="font-semibold cursor-pointer text-stone-600 group-open:text-blue-600"
            >
              Kenapa diberi nama Nujum?
            </summary>
            <blockquote
              class="mt-2 text-stone-600 border-l-4 border-blue-300 bg-blue-50 p-4"
            >
              <a
                class="text-blue-500 hover:underline"
                href="https://kbbi.web.id/nujum"
                rel="noopener nofollow"
                target="_blank"
                aria-label="Website KBBI."
                >nujum <i>/nu·jum/</i></a
              >
              <br /> Perbintangan untuk meramalkan (mengetahui) nasib orang dan sebagainya.
            </blockquote>
            <p class="mt-4 text-stone-600">
              Sedangkan tujuan utama dari Nujum sendiri adalah "meramalkan"
              kelulusan UTBK-SNBT berdasarkan rata-rata nilai try-out atau nilai
              UTBK-SNBT tahun lalu pengguna-nya, menggunakan metode dan data
              terbaik yang aku miliki.
            </p>
          </details>
          <details class="bg-white p-4 rounded-lg shadow group">
            <summary
              class="font-semibold cursor-pointer text-stone-600 group-open:text-blue-600"
            >
              Kenapa program studi X tidak ada disini?
            </summary>
            <p class="mt-2 text-stone-600">
              Ada banyak alasan yang diluar jangkauan aku sendiri tentunya. Tapi
              kemungkinan besar adalah karena program studi yang kamu cari itu
              termasuk prodi baru.
            </p>
            <p class="mt-4 text-stone-600">
              Prodi baru tersebut sengaja tidak aku masukan dulu, karena
              keketatan/tingkat penerimaan dan passing grade-nya memang belum
              ketahuan atau belum bisa dihitung.
            </p>
            <p class="mt-4 text-stone-600">Buat apa juga kan?</p>
          </details>
          <details class="bg-white p-4 rounded-lg shadow group">
            <summary
              class="font-semibold cursor-pointer text-stone-600 group-open:text-blue-600"
            >
              Bagaimana cara passing grade dihitung?
            </summary>
            <p class="mt-2 text-stone-600">
              Passing grade dihitung menggunakan pendekatan statistik berdasarkan
              distribusi nilai yang menyerupai kurva normal, dimana mayoritas
              peserta memiliki nilai rata-rata, yaitu <code
                class="font-mono text-sm bg-stone-200 px-1 rounded">500</code
              > untuk UTBK-SNBT, dan semakin sedikit pula peserta yang dapat nilai sangat
              tinggi atau sangat rendah.
            </p>
            <p class="mt-4 text-stone-600">
              Untuk menentukan passing grade kita perlu mencari cutoff score yang
              memisahkan peserta yang lolos dari yang tidak. Hal ini bisa
              dilakukan dengan menghitung persentil yang sesuai dengan tingkat
              keketatan. Misalnya, jika tingkat keketatan adalah <code
                class="font-mono text-sm bg-stone-200 px-1 rounded">0.42%</code
              >, kita mencari nilai di persentil ke-<code
                class="font-mono text-sm bg-stone-200 px-1 rounded">99.58</code
              >.
            </p>
            <p class="mt-4 text-stone-600">
              Dalam statistika, <code
                class="font-mono text-sm bg-stone-200 px-1 rounded">z-score</code
              > dipakai untuk mewakili posisi relatif suatu nilai dalam distribusi normal.
              <code class="font-mono text-sm bg-stone-200 px-1 rounded"
                >z-score</code
              > mengukur berapa banyak simpangan baku (<code
                class="font-mono text-sm bg-stone-200 px-1 rounded">σ</code
              >) sebuah nilai dari rata-rata (mean). Untuk mengubah persentil
              menjadi
              <code class="font-mono text-sm bg-stone-200 px-1 rounded"
                >z-score</code
              >, kita menggunakan fungsi invers dari Cumulative Distribution
              Function. Nujum memakai algoritma aproksimasi rasional Acklam, yaitu
              metode efisien untuk menghitung Inverse CDF tanpa perlu tabel besar
              atau komputasi numerik berat. Untuk persentil
              <code class="font-mono text-sm bg-stone-200 px-1 rounded"
                >99.58%</code
              >, metode ini menghasilkan <code
                class="font-mono text-sm bg-stone-200 px-1 rounded">z ≈ 2.64</code
              >.
            </p>
            <p class="mt-4 text-stone-600">
              Terakhir, <code class="font-mono text-sm bg-stone-200 px-1 rounded"
                >z-score</code
              > dikonversi kembali ke skala skor UTBK menggunakan rumus: <code
                class="font-mono text-sm bg-stone-200 px-1 rounded"
                >Skor = mean + z × σ</code
              >. Dengan asumsi nilai rata-rata nasional sebelumnya dan simpangan
              baku (<code class="font-mono text-sm bg-stone-200 px-1 rounded"
                >σ</code
              >) sekitar <code class="font-mono text-sm bg-stone-200 px-1 rounded"
                >100</code
              >, maka passing grade bisa dihitung sebagai <code
                class="font-mono text-sm bg-stone-200 px-1 rounded"
                >500 + 2.64 × 100 ≈ 760</code
              >
            </p>
          </details>
          <details class="bg-white p-4 rounded-lg shadow group">
            <summary
              class="font-semibold cursor-pointer text-stone-600 group-open:text-blue-600"
            >
              Bagaimana cara data UTBK-SNBT diambil?
            </summary>
            <p class="mt-2 text-stone-600">
              Semua data di situs ini diambil melalui <a
                class="text-blue-500
                hover:underline"
                href="https://archive.is/JjeQJ"
                aria-label="Arsip situs daya tampung UTBK-SNBT 2025 resmi milik SNPMB."
                rel="noopener nofollow"
                target="_blank">situs resmi</a
              > daya tampung UTBK-SNBT dari SNPMB pada tahun 2025.
            </p>
            <p class="mt-4 text-stone-600">
              Alat yang aku gunakan adalah HTTrack untuk mengunduh keseluruhan
              website dan script Python menggunakan Beautiful Soup untuk mengubah
              data yang sudah aku unduh menjadi file JSON.
            </p>
          </details>
          <details class="bg-white p-4 rounded-lg shadow group">
            <summary
              class="font-semibold cursor-pointer text-stone-600 group-open:text-blue-600"
            >
              Jika ada saran atau pertanyaan lain?
            </summary>
            <p class="mt-2 text-stone-600">
              Kirimkan aku email di nujum[at]charda[dot]org, atau DM melalui
              Instagram resmi dengan username <a
                class="text-blue-500
              hover:underline"
                href="https://instagram.com/trynujum"
                aria-label="Akun Instagram resmi Nujum."
                target="_blank">@trynujum</a
              >
            </p>
          </details>
        </section>

      </div>
    </main>

      <Footer />
  </body>
</html>
